article ~ article {
  border-top: 1px dashed #ccc; }
article > section {
  background: #eee; }
article dl > dt {
  color: #333; }
article dl > dd {
  color: #555; }
nav + article {
  margin-top: 0; }

.error, .seriousError {
  border: 1px #f00;
  background-color: #fdd; }

.seriousError {
  border-width: 3px; }

a {
  color: blue; }

#content article h1 {
  color: #333; }
#content article p {
  margin-bottom: 1.4em; }
#content aside {
  background-color: #EEE; }

article a {
  color: blue; }
  article a:hover {
    color: red; }

article .ins {
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px; }

ul.plain {
  color: #444;
  list-style: none; }
  ul.plain li {
    list-style-image: none;
    list-style-type: none;
    margin-left: 0px; }

a {
  color: blue; }
  a:hover {
    color: red; }
  a:visited {
    color: green; }
