*,body{padding: 0;margin: 0;}
ul li{list-style: none;}
.fl{float: left;display: inline;}
.fr{float: right;display: inline;}
.tc{text-align: center;}
a{color: #666;text-decoration: none;outline: none;}
em{font-style: normal;font-weight: normal;}
img{border: 0;}
.font14{font-size: 14px;}
.font16{font-size: 16px;}
.mt-15{margin-top: 15px;}
.ml-10{margin-left: 10px;}
.mt-30{margin-top: 30px;}
.mt-20{margin-top: 20px;}
.font18{font-size: 18px;}
.index5{z-index: 5;}
.pos_a{position: absolute;}
.tab .hd{background: #1c2229 url(../img/safeBg.jpg) center center no-repeat;background-size: cover;height: 235px;overflow: hidden;}
.pos_r,.iw{position: relative;z-index: 1;}
.tab .hd .out-box{padding-top: 91px;z-index: 11;}
.wrapper{width: 1200px;margin:0 auto;}
.tab .hd ul{margin-top: 68px;margin-left: 100px;}
.tab .hd li.current{width: 192px;font-size: 28px;padding-top: 0;}
.tab .hd li{    position: relative;float: left;display: inline;width: 192px;height: 76px;margin-left: -1px;text-align: center;color: #fff;font-size: 26px;}
.tab .hd li.current span{background: #fff;color: #a9936a;line-height: 75px;}
.tab .hd li span{    position: absolute;left: 0;bottom: 0;display: block;width: 190px;border: 1px solid #fff;border-bottom: none;background: #a9936a;cursor: pointer;line-height: 62px;-webkit-transition: all 0.5s ease-in-out 0s;transition: all 0.5s ease-in-out 0s;-webkit-user-select: none;-moz-user-select: none;-ms-user-select: none;
user-select: none;}
.tab .hd .right{min-width: 482px;margin-top: 80px;margin-right: 45px;color: #fff;}
.tab .hd .right .left-box{position: relative;padding-left: 40px;width: 142px;font-size: 18px;line-height: 24px;}
.tab .hd .right .left-box .bg-safe{left: 0;top: 4px;}
.iw i, .iw s{position: absolute;overflow: hidden;}
.bg-safe{width: 26px;height: 40px;background-position: -21px -16px !important;}
.bg{background: url(../img/safe-icon.png) no-repeat;}
.tab .hd .right .left-box p{float: left;width: 140px;}
.tab .hd .right .left-box .bg-white{    position: absolute;top: 50%;right: 0;width: 1px;height: 40px;margin-top: -20px;background: white;}
.tab .hd .right .right-box{padding-left: 20px;}
.overHidden{overflow: hidden;}
.tab .hd .right .right-box p{padding-left: 30px;font-size: 16px;line-height: 26px;white-space: nowrap;}
.tab .hd .right .right-box p .bg-tel{left: 0;top: 5px;}
.bg-tel{width: 25px;height: 20px;background-position: -68px -16px;}
.tab .hd .right .right-box p .bg-mail{left: 0;top: 7px;}
.bg-mail{width: 20px;height: 14px;background-position: -108px -16px;}

.tab .bd{padding: 65px 0 155px 0;background: url(../img/safe-bg2.jpg) center center no-repeat;background-size: cover;}
.tab .bd .tabBox{position: relative;z-index: 11;zoom: 1;overflow: hidden;}
.tab .bd ul{margin: 0 -22px;padding-left: 100px;}
.tab .bd ul li{float: left;margin: 0 22px;}
.tab .bd ul li h3{padding-top: 18px;font-size: 28px;line-height: 83px;color: #000;font-weight: normal;}
.tab .bd ul .item1, .tab .bd ul .item3, .tab .bd ul .item5 {background: #f3f2df;}
.tab .bd ul li div{    width: 488px;height: 122px;border: 1px solid #fff;position: relative;}
.tab .bd ul li div:before{    content: "";position: absolute;width: 100%;height: 100%;background:transparent;opacity: .03;filter: alpha(opacity=3);transition: all 0.5s;}
.tab .bd ul li div p{    padding: 25px 34px 0 34px;overflow: hidden;font-size: 14px;line-height: 24px;color: #666;}
.tab .bd ul .item2{background: #f3f1df;}
.tab .bd ul .item4{height:146px;background: #f3f1df;}
.tab .bd .box2 div{height: 242px;}
